body {
  max-width: 800px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: paleturquoise;
}

header {
  padding-top: 30px;
  height: 60px;
  display: grid;
  grid-template-columns: 80% 20%;
}

label {
  margin-left: 20px;
  font-size: 2rem;
}

input {
  background-color: ;
  width: 90%;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 1.5em;
  text-align: center;
  box-shadow: -4px 1px 20px 4px #025f5a4a;
 }

main {
  background-color: bisque;
  min-height: 80vh;
  margin-top: 40px;
 }



